<header role="banner" class="site-header">
  <div class="site-header__inner">
    <h1 class="site-header__title">
      MRL Construction
    </h1>
    <h2 class="site-header__subtitle">
      General Contractors: Construction & Remodeling Services
    </h2>
  </div>
</header>
<main class="site-main">
  {{outlet}}
</main>
<footer class="site-footer">
  &copy; 2020 MRL Construction, LLC. All Rights Reserved.
</footer>