<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h3 class="text-center">
        Beautiful, Custom Home Remodeling and Additions
      </h3>
      <p>
        MRL Construction, LLC is a Seattle based firm providing home
        remodeling and additions that meet both aesthetic tastes
        and budget needs.
        With over 35 years of experience, owner and lead carpenter Mark Lynd is an
        expert at building the Pacific Northwest home, working with a team of
        craftspeople that offer complementary carpentry and construction services.
      </p>
      <p class="text-center">
        <a class="site-main__cta" href="tel:+12065470055">
          (206) 547-0055
        </a>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <hr />

      <h3 class="text-center">
        Additions
      </h3>
      <img
        class="site-main__image"
        src="img/additions.jpg"
        alt="House addition"
      />
      <p>
        Additions are part of our special practice. What would you add to your home?
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <hr />

      <h3 class="text-center">
        Remodels
      </h3>
      <img
        class="site-main__image"
        src="img/remodel.jpg"
        alt="Kitchen remodel"
      />
      <p>
        What would you remodel? Kitchen, bathrooms, bedrooms, sunrooms, mudrooms.
        We work with you to make your house feel like your home.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <hr />

      <h3 class="text-center">
        Kitchens
      </h3>
      <img
        class="site-main__image"
        src="img/kitchen.jpg"
        alt="Kitchen remodel"
      />
      <p>
        We specialize in remodeling kitchens to meet your aesthetic
        taste and functional needs.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <hr />
      <p>
        MRL Construction renews and refurbishes your home so that feels right for you.
        If you’re looking to give your bathroom a fresh look, build an home addition,
        or redo the whole house, contact MRL Construction for an initial conversation
        and estimate.
      </p>
      <p class="text-center">
        <a class="site-main__cta" href="tel:+12065470055">
          (206) 547-0055
        </a>
      </p>
    </div>
  </div>
</div>